// $MEDIA-QUERIES
$XS_MIN_WIDTH: 320px;
$XS_MAX_WIDTH: 400px;
$XS_MIN_WIDTH_LANDSCAPE: 640px;
$SM_MIN_WIDTH: 768px;
$MD_MIN_WIDTH: 1024px;
$LG_MIN_WIDTH: 1200px;

// FONTS WEIGHT
$FONT_LIGHT: 300;
$FONT_REGULAR: 400;
$FONT_MEDIUM: 500;
$FONT_SEMI_BOLD: 600;
$FONT_BOLD: 700;
$FONTEXTRA_BOLD: 800;
$FONT_BLACK: 900;

//FONTS
$ANTON: 'Anton';

//COLORS
$WHITE: #ffffff;
$IMPERIAL: #222f3e;
$WILDGREEN: #1dd1a1;