
extends ../../layout/_master.pug

block meta-vars
    - var _title = 'Webpack 4 Starter'
    - var _description = 'A simple Environment Webpack Typescript Sass Pug'
    - var _keywords = 'Webpack 4, Typescript, Sass, Pug'
    - var twitter_account = ''
    - var twitter_img = ''
    - var facebook_url = ''
    - var facebook_img = ''

block body
    h1 Hello
    h2 Developer