
extends ../../layout/_master.pug

block meta-vars
    - var _title = 'About'
    - var _description = 'About Page'
    - var _keywords = 'Webpack 4, Typescript, Sass, Pug'
    - var twitter_account = ''
    - var twitter_img = ''
    - var facebook_url = ''
    - var facebook_img = ''

block body
    h1 About
    h2 Page